*{
    padding: 0;
    margin: 0;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

button {
    background-color: rgb(99, 23, 73);
    color: rgb(245, 158, 216);
    width: 30vw;
    height: 10vh;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin-top: 40vh;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(146, 65, 119);
}

button:active {
    background-color: rgb(151, 26, 109);
}